{% load static from staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <link rel="stylesheet" href="{% static 'top-footer.css' %}">
    <link rel="stylesheet" href="{% static 'bottom-footer.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->

    <title>AppaRental. - Product Detail</title>
</head>

<body>

    <div class="top-footer">
        <a href="{% url 'homepage' %}">
            <button type="button" class="logo" style="font-family: Asap;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
        
            color: #252C29;
            padding: 0.2rem 0.5rem;
            background-color: #FFFFFF;
            border: 3px solid #252C29;
            margin-bottom: 1rem;
            margin-left: 2.3rem;
            margin-top: 2.5rem;">AppaRental.</button>
        </a>
    </div>

    <section id="product-desc">

        {% for object in items %}

        <div class='profile'>
            <div class='row' style="margin: 0;">
                <div class='column'>
                    <a class="tulisan-back" href="{% url 'products' %}">
                        <i class="fa fa-arrow-circle-left"></i>
                        <p>Back to Products Page</p>
                    </a>
                    <div class='photo'>
                        <img src="{% static 'baju.png' %}">
                    </div>
                </div>
                <div class='column'>
                    <div class='biodata'>
                        <h1>{{object.name}}</h1>
                        <h2>Rp {{object.price}}/month</h2>

                        <p>{{object.description}}</p>
                        {% comment %} <a href="{% url 'detailBarang' pk=object.pk %}">
                            <button class="btn btn-icon btn-danger">
                        <i class="fa fa-trash"></i></button></a> {% endcomment %}
                        <form action="{% url 'detailBarang' pk=object.pk %}" method="POST">
                         {% csrf_token %}
                            <div class='bawah'>
                                <input type="submit" class="submit" value="Rent Item">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </section>

    <!---->

    <section id="comment">
    {% for object in items %}

        <form action="{% url 'detailBarang' pk=object.pk %}" method="POST">
            {% csrf_token %}
            <div class="formulir">
                {{formulir}}
            </div>

            <div class="tombol">
                <input type="submit" class="submit" value="Submit">
            </div>
        </form>
    {% endfor %}
    
        <div class="comments">
            <h4>Comments</h4>
            <hr> 
            {% for object in comments %}

            <div class="cont" id="wrapper_content">
                <div class='top'>
                    <p class="tanggal" style="margin: 0;">
                        Posted on : {{object.date}}
                    </p>
                </div>
                <div class='bottom'>
                    <p class="harga_item">
                        {{object.comment}}
                    </p>
                </div>
            </div>

            {% endfor %}

        </div>
    </section>

    <!---->

    <div class="bottom-footer" style="margin-bottom: 2.4rem;
        margin-left: 2.3rem;
        margin-top: 2.5rem;">
        <p style="font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #252C29;">© 2019 All rights served</p>
    </div>

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>