{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'start.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <title>Apparental</title>
</head>

<body>
    
    <div class="top-footer">
        <a href="{% url 'homepage' %}">
            <button type="button" class="logo" style="font-family: Asap;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
        
            color: #252C29;
            padding: 0.2rem 0.5rem;
            background-color: #FFFFFF;
            border: 3px solid #252C29;
            margin-bottom: 1rem;
            margin-left: 2.3rem;
            margin-top: 2.5rem;">AppaRental.</button>
        </a>
    </div>

    <div class="container-fluid" id="wrapper-top">
        <div id = "cont">
            <h3>Start selling your items now!</h3>
            <div class="row mx-lg" id="gobs">
                    <ul>
                        <li>
                            <a href="/approval-list" class="coba">
                                <button type="button" class="status">Items You Sold</button>
                            </a>  
                        </li>
                    </ul>

                    <ul>
                        <li>
                             <a href="/save-item" class="coba2">
                                <button type="button" class="status">Add New Item</button>
                            </a>
                        </li>
                    </ul>                       
            </div>
            <a href="{% url 'homepage' %}">return to home</a>
            
        </div>
    </div>
    
    <div class="bottom-footer" style="margin-bottom: 2.4rem;
        margin-left: 2.3rem;
        margin-top: 2.5rem;">
        <p style="font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #252C29;">© 2019 All rights served</p>
    </div>

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
</body>

</html>