{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/itemlist.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>AppaRental</title>
</head>

<body>
    
    <div class="top-footer">
        <a href="{% url 'homepage' %}">
            <button type="button" class="logo" style="font-family: Asap;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
        
            color: #252C29;
            padding: 0.2rem 0.5rem;
            background-color: #FFFFFF;
            border: 3px solid #252C29;
            margin-bottom: 1rem;
            margin-left: 2.3rem;
            margin-top: 2.5rem;">AppaRental.</button>
        </a>
    </div>

    <div class="container-fluid" id="wrapper-top">
        <a class="tulisan-back" href="/products">
            <i class="fa fa-arrow-circle-left"></i>
            <p style="font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            /* identical to box height */
        
            color: #252C29;">Back to Products Page</p>
        </a>

        <div class="container-fluid" id="wrapper">
                
                <div class="bawah">
                        <h5>Items you Rented</h5>
                        <hr>
    
                        <div>
                            <form action="{% url 'itemcart' %}" method="POST">
                                {% csrf_token %}
                                {{ formulir }}
                                <div class='bawah'>
                                    <input type="submit" class="submit" value="Rent Item">
                                </div>
                            </form>
                        
                            {% for baju in products %}
                            <div class="container-fluid" id="wrapper_content">
    
                                <div class="isinya">
                                    <div class="fotonya">
                                        <img src="{% static 'image/kuning.jpg' %}">
                                    </div>
                                    
                                    <div class="keterangan">
                                        <div class='top3'>
                                            <p class="nama_item" style="margin-bottom: 0; padding-bottom: 0.2rem;">
                                                <!-- H&M Yellow Bomber Jacket -->
                                                {{baju.name}}
                                            </p>
                                        </div>
                                        <div class='top2'>
                                            <p class="harga_item">
                                                <!-- <i>Rp 80.000/ month</i> -->
                                                <i>Rp {{baju.price}}</i>
                                            </p>
                                        </div>
                                        
                                        <div class='top'>
                                            <div class='top'>
                                                <p class="status-label">
                                                    <!-- Status: Waiting for approval -->
                                                    {{baju.status}}
                                                </p>
                                            </div>
                
                                        <div class='bottom'>
                                                <a href="{% url 'remove' id=baju.id %}">
                                                    <button type="button" class="btn" style="margin-top: 0;">Return Item</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            {% endfor %}
                    
                        </div>
    

                </div>
        </div>
        
    </div>
    <div class="bottom-footer" style="margin-bottom: 2.4rem;
        margin-left: 2.3rem;
        margin-top: 2.5rem;">
        <p style="font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #252C29;">© 2019 All rights served</p>
    </div>

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>