{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>LogIn</title>
</head>
<body>
    {% block content %}
        <div class="sticky-top">
            {% include 'top-footer.html' %}
        </div>  
        <div class="content-section col-lg-6 offset-md-3 content">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 text-center">Log In</legend>
                    {{ form }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="fixed-bottom"> 
            {% include 'bottom-footer.html' %}
        </div>  
    {% endblock content %}
</body>
</html>
