* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header properties */
.back-home{
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    display: flex;
    justify-content: flex-end;
}

.back-home a{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    color: #252C29;
}

.header{
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 0; 
}

.header img{
    width: 100vw;
}

.baju img{
    max-width: 100%;
}



/* button filter */
.tombol input[type=submit]{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;

    color: #FFFFFF;
    padding: 0.4rem 2rem;

    background-color: #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
}

.tombol{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    padding-right: 3rem;
}

.formulir{
    padding-left: 3rem;
    padding-right: 1rem;
}

.formulir select{
    border: 1px solid #252C29;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border-radius: 0;
    padding: 0.2rem;
}

.formulir label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #252C29;
    margin-right: 1rem;
}

.formnye{
    display: flex;
    padding-top: 1rem;
    flex-wrap: wrap;
}

.row{
    display: flex;
    flex-wrap: nowrap;
}

@media(max-width: 566px){
    .tombol input[type=submit]{
        margin-left: 3rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}


@media(max-width: 1232px){
    .header{
        display: none;
    }
    .back-home{
        justify-content: flex-start;
        padding-left: 3rem;
        padding-bottom: 0rem;
    }
}

@media(max-width: 780px){
    .left h2{
        font-size: 2rem;
        line-height: 2rem;
    }
    .formnye{
        padding-bottom: 1rem;
    }
}

/* products properties tulisan */
.left h2{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;

    color: #252C29;
    /* padding-left: 3rem; */
}

/* .top {
    padding-top: 3rem;
    display: flex;
    justify-content: ;
} */

.btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;

    color: #252C29;
    padding: 0.6rem 1.5rem;
}

.right button[type=button] {
    background-color: #FFFFFF;
    border: 1px solid #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
}

/* .right{
    padding-top: 1.6rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;
} */

.right{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 3rem;
}

.left{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-left: 3rem;
}

.row{
    padding-top: 3rem;
    padding-bottom: 0.3rem;
}

hr{
    border-top: 3px solid #222952;
    margin: 0 3rem;
    padding-bottom: 1rem;
}

/* .bajunya{
    padding-left: 1.8rem;
} */


/* display baju-bajunya */
.baju {
    padding: 1rem 1.3rem;
}

.nama-produk {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    color: #252C29;
    margin: 0;
    text-align: center;
    padding-top: 0.5rem;
}

.harga-produk {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #252C29;
    margin: 0;
    text-align: center;
}

#input {
    border: 1px solid #252C29;
    margin-left: 0.6rem;
    padding: 0.3rem;
    font-size: 15px;
    border-radius: 5px;
}

#labelsearch {
    margin-left: 3rem;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.searchbox {
    padding-top: 0.3rem;
    padding-bottom: 0.6rem;
}