* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Asap', sans-serif;
}

h2 a{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: black;
    
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.tulisan-back{
    display: flex;
}

/* container properties */
#wrapper {
    max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    margin: 0;
    display: block;

    background-color:#FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#wrapper-top{
    font-family: 'Asap', sans-serif;
    max-width: 50rem;
    min-height: 35rem;
    min-width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    margin-bottom: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* tulisan atas */
h5{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #252C29;

    padding: 1rem 0;
    margin: 0;
}

hr{
    border-top: 3px solid #222952;
    margin: 0;
    padding-bottom: 1rem;
}

.fa{
    color: #252C29;
    font-size: 0.1rem;
    padding-right: 0.5rem;
}

.back{
    display: flex;
    text-align: center;
}
.container-fluid button[type=button] {
    font-family: 'Asap', sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
}
.container-fluid button[type=submit]{
    background-color: black;
} 

.button {
    padding-top: 1.6rem;
    padding-left: 2.5rem;
    padding-bottom: 3rem;

}

.bottom-footer p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #252C29;
}

.bottom-footer {
    margin-bottom: 1rem;
    margin-left: 2.3rem;
    margin-top: 2.5rem;
}

.top-footer button[type=button] {
    background-color: #FFFFFF;
    border: 3px solid #252C29;
    margin-bottom: 1rem;
    margin-left: 2.3rem;
    margin-top: 2.5rem;
}

.btn {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
    padding: 0.5rem 1.4rem;
}

.bottom button[type=button] {
    background-color: #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
}

.bawah input[type=submit]{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;

    color: #FFFFFF;

    padding: 0.4rem 1.8rem;

    background-color: #252C29;
    margin-bottom: 1rem;
    border-radius: 50px;

    margin-right: 0;
    margin-left: auto;
    margin-top: 1.5rem;
}

input[type=text]{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

    border: 1px solid #252C29;
}

input[type=number]{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

    border: 1px solid #252C29;
    display: flex;
}

select{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

    border: 1px solid #252C29;
    display: flex;
}

.apa-coba{
    padding: 0 15px;
}

input[type=password]{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;

    border: 1px solid #252C29;
}