<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="top-footer">
        <a href="{% url 'homepage' %}">
            <button type="button" class="logo" style="font-family: Asap;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
        
            color: #252C29;
            padding: 0.2rem 0.5rem;
            background-color: #FFFFFF;
            border: 3px solid #252C29;
            margin-bottom: 1rem;
            margin-left: 2.3rem;
            margin-top: 2.5rem;">AppaRental.</button>
        </a>
    </div>
    <div class='form'>
        <form action="" method="POST">
            {% csrf_token %} {{ form }}
            <div class="centre-items tombol">
                <input type="submit" class="btn btn-primary" value="Login" id="submit">
            </div>
        </form>
    </div>
    <div class="bottom-footer" style="margin-bottom: 2.4rem;
        margin-left: 2.3rem;
        margin-top: 2.5rem;">
        <p style="font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #252C29;">© 2019 All rights served</p>
    </div>
</body>