body {
    background: url("/static/images/background.jpg") no-repeat;
    background-position: 0% 35%;
    background-size: cover;
    color: white;
}

.welcome {
    height: 100vh;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 7rem;
}

.act {
    text-align: left;
    margin-bottom: 20px;
}

.option {
    color: white;
    font-size: 1.6em;
    font-weight: 1px;
    float: left;
    margin-right: 20px;
    padding: 3px 35px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
}

.option:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
}

#rights {   
    float: left;    
}

/* responsive properties */
@media(max-width: 600px){
    h1{
        font-size: 3rem;
    }
    .welcome{
        padding-left: 3rem;
    }
}

@media(max-width: 400px){
    h1{
        font-size: 2.5rem;
    }
    .welcome{
        padding-left: 2rem;
    }
}

@media(max-width: 350px){
    h1{
        font-size: 2rem;
    }
    .welcome{
        padding-left: 1rem;
    }
}