<div class="bottom-footer" style="margin-bottom: 1rem;
margin-left: 2.3rem;
margin-top: 2.5rem;">
   <p style="font-family: Open Sans;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   color: #ffffff;">© 2019 All rights served</p>
</div>