{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>AppaRental</title>
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'top-footer.html' %}


        <div class="container-fluid body">  
            <header class="fixed-top">
                <div class="row">
                    <div class="col-lg-3 navbar">
                        {% comment %} {% include 'top-footer.html' %} {% endcomment %}
                    </div>
                </div>
            </header>
            
            <div class="welcome">    
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-6 act">
                        <h1 style = " font-family: Asap; font-style: normal; font-weight: bold; font-size: 48px; line-height: 61px; color: #F2EFF0;">Start your activity as</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 offset-lg-6">
                        <a class="option" href="/login">Shopper</a>
                        <a class="option"href="/sellerLogin">Seller</a>
                        <a class="option"href="/signup" style="margin-top: 3%">Sign Up</a>
                    </div>
                </div>
            </div>

        </div>

        {% include 'bottom-footer.html' %}
    </body>
</html>