<div class="top-footer">
    <button type="button" class="logo" style="font-family: Asap;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
    
        color: #ffffff;
        padding: 0.2rem 0.5rem;
        
        background-color: transparent;
        border: 3px solid #ffffff;
        margin-bottom: 1rem;
        margin-left: 2.3rem;
        margin-top: 2.5rem;" onclick="location.href= '';">AppaRental.</button>
</div>