* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

h3{
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;

    color: #252C29;

}

a{
    color: #252C29;
}

#wrapper-top{
    max-width: 50rem;
    min-width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 7rem;
}

ul {
  list-style-type: none;
}

.status{
    
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #252C29;
    padding-top: 1rem;

    border: 2px solid #252C29;
    border-radius: 5%;
    min-width: 20rem;
    min-height: 15rem;
}

.coba2{
    padding-left: 1rem;
}

#gobs{
    padding-top: 1.5rem;
}

.status:hover{
    background-color: #252C29;
    color: #FFFFFF;
}

@media(max-width: 1282px){
    .coba2{
        padding-left: 0;
    }
}