{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'products.css' %}">
    <link rel="stylesheet" href="{% static 'top-footer.css' %}">
    <link rel="stylesheet" href="{% static 'bottom-footer.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/d5ac12ca84.js"></script>
 
    <!-- Custom styles for this template -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

    <title>AppaRental. - Products</title>
    
  </head>

  <body>

    <div class="top-footer">
        <a href="{% url 'homepage' %}">
            <button type="button" class="logo" style="font-family: Asap;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
        
            color: #252C29;
            padding: 0.2rem 0.5rem;
            background-color: #FFFFFF;
            border: 3px solid #252C29;
            margin-bottom: 1rem;
            margin-left: 2.3rem;
            margin-top: 2.5rem;">AppaRental.</button>
        </a>
    </div>

    <div class="back-home">
        <a href="/"><u>return to home</u></a>
    </div>

    <div class="header">
      <img src="{% static 'header.png' %}">
    </div>

    <div class="products">
        <div class="row no-gutters">
            <div class="col-md-6 no-gutters">
                <div class="left d-flex justify-content-flex-start">
                    <h2>Products</h2>
                </div>
            </div>

            <div class="col-md-6 no-gutters">
                <div class="right d-flex justify-content-flex-end">
                    <a href="/item-list">
                        <button type="button" class="btn">View Cart</button>
                    </a>
                </div>
            </div>
        </div>
        <hr>

        <!-- forloop -->

        <div class="choicebox">
            <form action="." method="POST">
                {% csrf_token %}
                <div class="formnye">
                    <div class="formulir">
                        {{formulir}}
                    </div>
    
                    <div class="tombol">
                        <input type="submit" class="submit" value="Go">
                    </div>
                </div>

            </form>
        </div>

        <div class="bajunya d-flex flex-column bd-highlight align-items-center">
            <div class="baju2 d-flex flex-wrap justify-content-center">

                {% for object in items %}
                <div class="baju">
                    <a href="/product-detail/{{object.pk}}">
                        <img src="{% static 'baju.png' %}">
                        <p class="nama-produk" style="padding-top: 1rem;">{{object.name}}</p>
                        <p class="harga-produk" style="padding-top: 0.4rem;">Rp {{object.price}}/month</p>
                    </a>
                </div>
                {% endfor %}
                
            </div>
        </div>

    </div> <!-- products -->

    <div class="bottom-footer" style="margin-bottom: 2.4rem;
        margin-left: 2.3rem;
        margin-top: 2.5rem;">
        <p style="font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #252C29;">© 2019 All rights served</p>
    </div>

    <!-- Optional JavaScript -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

  </body>

</html>
